/src/@types/**/*
/src/assets/**/*
/src/tests/**/*
/src/services/firebase/index.ts
ignoredLogs.ts

# /src/common/**/*
# /src/components/**/*
# /src/contexts/**/*
# /src/routes/**/*
# /src/screens/**/*
# /src/services/**/*
