# dev | prod
ENVIRONMENT=

# DEV EVNS

FIREBASE_apiKey=
FIREBASE_authDomain=
FIREBASE_projectId=
FIREBASE_storageBucket=
FIREBASE_messagingSenderId=
FIREBASE_appId=
FIREBASE_measurementId=
FIREBASE_databaseURL=
FIREBASE_smas_databaseURL=
FIREBASE_CLOUD_URL=

ALGOLIA_ID=
ALGOLIA_KEY=

AUTH_EXPO_CLIENT_ID=
AUTH_IOS_CLIENT_ID=
AUTH_ANDROID_CLIENT_ID=

MAPS_API=

STRIPE_PUBLISHABLE_KEY=

# PROD ENVS

PROD_FIREBASE_apiKey=
PROD_FIREBASE_authDomain=
PROD_FIREBASE_databaseURL=
PROD_FIREBASE_projectId=
PROD_FIREBASE_storageBucket=
PROD_FIREBASE_messagingSenderId=
PROD_FIREBASE_appId=
PROD_FIREBASE_measurementId=
PROD_FIREBASE_CLOUD_URL=
PROD_FIRESTORE_REAL_TIME_DATABASE=
PROD_ALGOLIA_ID=
PROD_ALGOLIA_KEY=

IOS_URL_SCHEME=

PROD_AUTH_CLIENT_ID=
PROD_AUTH_EXPO_CLIENT_ID=
PROD_AUTH_IOS_CLIENT_ID=
PROD_AUTH_ANDROID_CLIENT_ID=

PROD_IOS_MAPS_API_KEY=
PROD_ANDROID_MAPS_API_KEY=
PROD_MAPS_API=

PROD_STRIPE_PUBLISHABLE_KEY=

# COMMON ENVS

NOTION_FALECONOSCO_ID=
NOTION_FALECONOSCO_KEY=
NOTION_APPICONS_KEY=
DENUNCIAR_WEBHOOK=
ERROS_WEBHOOK=
FALECONOSCO_WEBHOOK=

DSN_SENTRY=
SENTRY_AUTH_TOKEN=