FIREBASE_apiKey=
FIREBASE_authDomain=
FIREBASE_databaseURL=
FIREBASE_projectId=
FIREBASE_storageBucket=
FIREBASE_messagingSenderId=
FIREBASE_appId=
FIREBASE_measurementId=
FIREBASE_CLOUD_URL=
ALGOLIA_ID=
ALGOLIA_KEY=
MAPS_API=
MAPS_API_ANDROID=
MAPS_API_IOS=
NOTION_FALECONOSCO_ID=
NOTION_FALECONOSCO_KEY=
NOTION_APPICONS_ID=
NOTION_APPICONS_KEY=
DENUNCIAR_WEBHOOK=
ERROS_WEBHOOK=
FALECONOSCO_WEBHOOK=
SENTRY_AUTH_TOKEN=
DSN_SENTRY=
FIRESTORE_REAL_TIME_DATABASE=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_API_URL=

