ENVIRONMENT=dev

# DEV EVNS

FIREBASE_apiKey=
FIREBASE_authDomain=
FIREBASE_projectId=
FIREBASE_storageBucket=
FIREBASE_messagingSenderId=
FIREBASE_appId=
FIREBASE_measurementId=
FIREBASE_databaseURL=
FIREBASE_CLOUD_URL=
FIRESTORE_REAL_TIME_DATABASE=
ALGOLIA_ID=
ALGOLIA_KEY=

MAPS_API=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_API_URL=

NOTION_FALECONOSCO_ID=
NOTION_FALECONOSCO_KEY=
NOTION_APPICONS_ID=
NOTION_APPICONS_KEY=
DENUNCIAR_WEBHOOK=
ERROS_WEBHOOK=
FALECONOSCO_WEBHOOK=

DSN_SENTRY=
SENTRY_AUTH_TOKEN=


